In [35]:
import pandas as pd
import numpy as np
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [36]:
y = train.revenue
id = test.Id
train = train.drop(['Id', 'revenue'], axis=1)
train.head()

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,2.0,3.0,5,3,4,5,5,4,3,4
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,3.0,0,0,0,0,0,0,0,0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,1.0,3.0,0,0,0,0,0,0,0,0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,2.5,7.5,25,12,10,6,18,12,12,6
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,1.0,3.0,5,1,3,2,3,4,3,3

In [27]:
cat_features = train.columns[train.dtypes == 'object']
cat_features

Index([u'Open Date', u'City', u'City Group', u'Type'], dtype='object')

In [28]:
cont_features = train.columns[train.dtypes != 'object']
cont_features

Index([u'P1', u'P2', u'P3', u'P4', u'P5', u'P6', u'P7', u'P8', u'P9', u'P10',
       u'P11', u'P12', u'P13', u'P14', u'P15', u'P16', u'P17', u'P18', u'P19',
       u'P20', u'P21', u'P22', u'P23', u'P24', u'P25', u'P26', u'P27', u'P28',
       u'P29', u'P30', u'P31', u'P32', u'P33', u'P34', u'P35', u'P36', u'P37'],
      dtype='object')

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
X = train[cont_features].values
model = LinearRegression()
result = np.sqrt(-cross_val_score(model, X, y, cv=10, scoring='neg_mean_squared_error'))
print("%f (%f)" % (result.mean(), result.std()) )

3390055.609996 (1174524.315946)

In [37]:
id.shape

(100000L,)

In [30]:
test_X = test[cont_features].values
model = LinearRegression()
model.fit(X, y)
preds = model.predict(test_X)

In [38]:
submission = pd.DataFrame({'Id':id, 'Prediction': preds})

In [41]:
submission.to_csv('sub1.csv', index=False) # Score 2416508, 2125 on LB