We just read in data and make a submission from LinearRegression model using the numeric features.

## Load the data

In [44]:
import pandas as pd
import numpy as np
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
print('Train shape:', train.shape)
print('Test shape:', test.shape)

('Train shape:', (137, 43))
('Test shape:', (100000, 42))

## Have a quick look at the data

In [45]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

* The first feature 'Id' is a just serial number and we do not need it in model. 
* The last feature 'revenue' is the target variable that we are trying to predict.
* There are some categorical features such as 'City', 'City Group', and 'Type'. - Ignore these for our first submission
* The column 'Open Date' is also ignored now.

## Build a model using the numeric features

### 10 fold cross validation to check out the model

In [62]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

train_numeric= train[train.columns[train.dtypes != 'object']] # all the numerical fields
test_numeric = test[test.columns[test.dtypes != 'object']]

X = train_numeric.drop(['Id','revenue'], axis=1).values  # drop the 'Id' and 'revenue' columns
y = train_numeric['revenue'].values
model = LinearRegression()
cv_result = np.sqrt(-cross_val_score(model, X, y, cv=10, scoring='neg_mean_squared_error' ))
print("%f (%f)" % (cv_result.mean(), cv_result.std()))

3390055.609996 (1174524.315946)

### Predict for test data

In [63]:
test_X = test_numeric.drop(['Id'], axis=1).values
model = LinearRegression()
model.fit(X,y)
pred = model.predict(test_X)

### Submit the solution

In [64]:
submission = pd.DataFrame({'Id': test.Id, 'Prediction': pred})
submission.to_csv('sub1.csv', index=False)